/* Base Styles */

* {
	box-sizing: border-box;
}

h1 {
	font-family: Brushstroke, fantasy;
	color: #191970;
}

body {
	background-image: url("background.jpg");
	background-color: #FEF5CA;
}

p {
	padding: 10px;
	margin: 0;
}

.container {
	border: none;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
}

section {
	border:	1px solid #191970;
	background-color: #F5FFFA;
	width: 100%;
	height: auto;
	font-family: Helvetica;
	color: #191970;
	position: relative;
	overflow: auto;
}

#chicken {
	border: 1px solid #191970;
	border-top: 0px;
	text-align: center;
	width: 30%;
	font-family: Georgia,sans-serif;
	font-weight: bold;
	font-size: 125%;
	margin-bottom: 0;
	margin-top: 0;
	padding: 5px;
	background-color: #E6E6FA;
	margin: auto;
}

#beef {
	border: 1px solid #191970;
	border-top: 0px;
	text-align: center;
	width: 30%;
	font-family: Georgia,sans-serif;
	font-weight: bold;
	font-size: 125%;
	margin-bottom: 0;
	margin-top: 0;
	padding: 5px;
	background-color: #ADD8E6;
	margin: auto;
}

#sushi {
	border: 1px solid #191970;
	border-top: 0px;
	text-align: center;
	width: 30%;
	font-family: Georgia,sans-serif;
	font-weight: bold;
	font-size: 125%;
	margin-bottom: 0;
	margin-top: 0;
	background-color: #B0C4DE;
	padding: 5px;
	margin: auto;
}

#chicken-div {
  margin-bottom: 10px;
  margin-top: 10px;
}

#beef-div {
  margin-bottom: 10px;
  margin-top: 10px;
}

#sushi-div {
  margin-bottom: 10px;
  margin-top: 10px;
}

.navbar-brand {
  font-size: 2em;
  border: 0 0 10px 10px;
  color: #FFFFFF;
}

#header-nav {
  border: 0;
  background-color: #191970;
  border-radius: 0px;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #FFEBCD;
}
.navbar-header > button.navbar-toggle:hover {
	background-color: #B0C4DE;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

.nav-header {
  background-color: #FFEBCD;
}

.nav-brand {
  color: #FFEBCD;
  font-size: 1.5em;
}

#nav-list {
  color: #FFEBCD;
}

hr {
  border-color: #FFEBCD;
}

.item {
  color: #FFEBCD;
  font-size: 1.2em;
}